@import "fonts.css";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    color: #2f3035;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.margin__bottom {
    margin-bottom: 80px;
}


/***          header          ***/


.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 700;
}

.menu__item {
    display: inline-block;
}

.menu__item + .menu__item {
    padding-left: 50px;
}

.header__box {
    display: flex;
}

.header__address {
    margin-right: 60px;
    width: 265px;
    padding-left: 35px;
    position: relative;
    font-size: 15px;
}

.header__address::before {
    content: '';
    position: absolute;
    background-image: url("../images/map-marker.svg");
    width: 34px;
    height: 34px;
    left: 0;
    bottom: 17%;
}

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.user-list__item {
    padding-right: 10px;
}

.basket {
    position: relative;
}

.basket__num {
    position: absolute;
    color: white;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: #1c62cd;
    border-radius: 50%;
    text-align: center;
    bottom: -5px;
    right: -12px;
}

.menu-categories {
    background-color: #f0f0f4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 53px;
}

.menu-categories__link {
    transition: all 0.3s;
    padding: 15px 0 14px;
    position: relative;
}

.menu-categories__link::before {
    content: '';
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #1c62cd;
    height: 3px;
    bottom: -2px;
    transition: all 0.3s;
}

.menu-categories__link:hover {
    font-family: 'SFProDisplay-Regular', sans-serif;
    color: black;
}

.menu-categories__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}


/***           banner          ***/


.banner-section__inner {
    display: flex;
    justify-content: space-between;
}

.banner-section__slider {
    max-width: 870px;
    position: relative;
}

.banner-section__slider-img {
    min-width: 400px;
    object-fit: cover;
    overflow: hidden;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
}

.banner-section__slider-btnPrev {
    left: 20px;
}

.banner-section__slider-btnNext {
    right: 20px;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 0 5px;
}

.slick-dots button {
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 11px;
    height: 11px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.slick-active li button {
    background-color: #f0f0f4;
    outline: none;
}

.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info {
    color: #f0f0f4;
    padding: 8px 20px;
    background-color: #1c62cd;
    text-transform: uppercase;
    font-size: 12px;
}

.price {
    font-family: 'Barlow', sans-serif;
    position: relative;
}

.sale-item__price-new {
    font-weight: 700;
    color: #1c62cd;
    line-height: 32px;
    font-size: 27px;
    margin-right: 6px;
    padding-right: 10px;
    position: relative;
}

.sale-item__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
}

.sale-item__price-old::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 9px;
    width: 63px;
    height: 18px;
    border-top: 1px solid #b1b0b0;
    transform: rotate(-17deg);
}

.sale-item__title {
    font-size: 18px;
    line-height: 21px;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 700;
    margin: 0 auto 7px;
    padding: 0 25px;
}

.sale-item__footer {
    background-color: #f0f0f4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
}

.sale-item__footer span {
    display: block;
    color: #1c62cd;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

.sale-item__img {
    object-fit: contain;
}


/***          search tabs          ***/


.search__tabs {
    margin-bottom: 25px;
}

.search__tabs-item {
    padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 700;
    border-radius: 2px;
    background-color: #f0f0f4;
}

.tabs-content {
    display: none;
}

.tabs-content.tabs-content--active {
    display: block;
}

.search__content-form {
    display: flex;
}

.search__content-input {
    width: 100%;
    background-color: #f0f0f4;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 19px;
}

.search__content-input::placeholder {
    color: #656464;
}

.search__content-btn {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: #1c62cd;
    border: none;
    border-radius: 3px;
    padding: 17px 41px;
    margin-left: 3px;
}


/***          categories          ***/


.categories__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    width: 370px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 16px;
    margin-bottom: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    transition: all .3s;
}

.categories__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.categories__item-img {
    width: 50%;
    overflow: hidden;
    text-align: center;
}

.categories__item-img img {
    max-width: 100%;
}

.categories__item-title {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    transition: all .3s;
}

.categories__item:hover .categories__item-title {
    color: #1c62cd;
}

.categories__item-text {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
}


/***          products          ***/


.product-item {
    min-height: 400px;
    width: inherit;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    transition: all .3s;
}

.product-item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, .25);
    color: #1c62cd;
}

.product-item__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 271px;
    text-align: center;
}

.product-item__title {
    font-weight: normal;
    padding: 14px 0 25px;
}

.product-item__favorite {
    position: absolute;
    width: 24px;
    height: 22px;
    top: 19px;
    right: 19px;
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 5;
}

.product-item__favorite::before {
    content: '';
    background-image: url("../images/favorite.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 22px;
}

.product-item__favorite--active::before {
    background-image: url("../images/favorite-active.svg");
}

.product-item__price {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

.product-item__basket {
    position: absolute;
    width: 60px;
    height: 40px;
    background: #1c62cd;
    border: none;
    border-radius: 10px 0 0 0;
    bottom: 0;
    right: 0;
    outline: none;
    z-index: 5;
}

.product-item__basket::before {
    content: '';
    background-image: url("../images/basket-w.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 14px;
    width: 30px;
    height: 24px;
    z-index: 5;
    cursor: pointer;
}

.product-item__hover-text {
    display: inline-block;
    position: absolute;
    top: 30%;
    padding: 18px 21px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    opacity: 0;
    transition: all .3s;
}

.product-item:hover .product-item__hover-text {
    opacity: 1;
    color: #2f3035;
}

.product-item:hover .product-item__notify-text {
    color: #2f3035;
}

.product-item--sale::before {
    content: 'SALE';
    padding: 8px 15px 8px;
    background-color: #1c62cd;
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    color: white;
    line-height: 14px;
    letter-spacing: .07em;
    text-align: center;
}

.product-item__notify-text {
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__price {
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
}

.product-item__notify-link {
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__title {
    padding-bottom: 13px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    text-align: center;
    color: #1c62cd;
    font-size: 16px;
    line-height: 19px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link span {
    border-bottom: 1px solid #1c62cd;
}

.product__title {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 25px;
}

.products__tabs {
    padding-bottom: 25px;
}

.products__tab + .products__tab {
    margin-left: 50px;
}

.products__tab {
    padding-bottom: 10px;
}

.products__tab.tab--active {
    border-bottom: #1c62cd 2px solid;
}

.product-slider__slider-btnPrev {
    left: -40px;
}

.product-slider__slider-btnNext {
    right: -20px;
}

.slick-slide img {
    display: inline;
}

.product__more {
    text-align: center;
    padding: 35px 0 80px;
}

.product__more-link {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .12em;
    text-transform: uppercase;
    padding: 16px 43px;
    background-color: #f0f0f4;
}


/***          footer          ***/


.footer {
    background-color: #f0f0f4;
}

.footer__top {
    padding-top: 43px;
}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
}

.footer__top-item {
    width: 200px;
    overflow: hidden;
}

.footer__top-newsletter {
    width: 295px;
    margin-right: 50px;
}

.footer__top-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}

.footer-form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.footer-form__input {
    background-color: white;
    border: none;
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px;
}

.footer-form__input::placeholder {
    color: #c4c4c4;
}

.footer-form__btn {
    padding: 10px 16px;
    background-color: #1c62cd;
    color: white;
    border: none;
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: .12em;
    text-transform: uppercase;
}

.footer-list {
    font-size: 14px;
    line-height: 22px;
}

.footer__top-social {
    width: 250px;
}

.social-list {
    display: flex;
    align-items: center;
}

.social-list__item + .social-list__item {
    margin-left: 30px;
}

.footer__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
}

.footer__bottom-link {
    margin: 0 40px;
    font-size: 10px;
    line-height: 12px;
    color: #48494d;
}

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    color: #c4c4c4;
    font-size: 15px;
    line-height: 18px;
}

.breadcrumbs__list-item::after {
    content: '';
    width: 6px;
    height: 9px;
    position: absolute;
    right: 0;
    bottom: 4px;
    background-image: url("../images/link-arrow.svg");
}

.breadcrumbs__list-item:last-child::after {
    display: none;
}